src/main/mule/empnew.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3ce6cda8-ef8f-428c-b33c-59b2acfe429c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d6e2f6d3-74e8-496c-b665-17f16b37e4be" >
		<db:my-sql-connection host="remotemysql.com" port="3306" user="ROJFuLCpj8" password="n9K6yuynDm" database="ROJFuLCpj8" />
	</db:config>
	<flow name="empnewFlow" doc:id="9f58bdcc-249c-4c07-8269-12a00b8fbced" >
		<http:listener doc:name="Listener" doc:id="8a4d5f98-3800-4c96-a92f-f0cfc878cbea" config-ref="HTTP_Listener_config" path="/get"/>
		<db:select doc:name="Select" doc:id="8dcf8e59-d956-4345-811d-c210c86fc9ee" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from EMP]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="9ba90711-154d-46be-8e24-26dc0bcd7ce2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="15b69615-41fb-452f-9cdf-c46568fd173c" />
	</flow>
	<flow name="post" doc:id="fa90297a-4bfa-44d7-9812-370947e43e3d" >
		<http:listener doc:name="Listener" doc:id="22f61de3-1e8b-4643-92c0-2501471c58d2" config-ref="HTTP_Listener_config" path="/post"/>
		<db:insert doc:name="Insert" doc:id="2557f85b-6528-4d8e-8a38-7d35d02680b2" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into EMP values(:id,:name,:salary)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': attributes.queryParams.id,
	'name': attributes.queryParams.name,
	'salary': attributes.queryParams.salary
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="done" doc:name="Set Payload" doc:id="73fb1219-88aa-4331-8c29-506e6953bbc8" />
	</flow>
</mule>
